* {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

header {
  margin: auto;
  /*display: inline-block;*/
  height: 125px;
  max-width: 940px;

}

p {
  font-size: 16px;
}

.logo {
  margin: 20px;
  float: left;
}

.contacts {
  float: right;
  text-align: right;
  margin: 10px 20px 10px 20px;
}

.line {
  width: 100%;
  height: 45px;
  background-color: #ff454c;
}

.container {
  height: 950px;
  padding: 10px;
}

h1, h2 {
  text-align: center;
  padding-bottom: 20px;
}

button {
  margin: 15px 0 0 125px;
  padding: 6px 15px;
  background-color: #ff454c;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border: 1px solid black;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.container, .container-footer {
  max-width: 960px;
  margin: auto;

}

.item_description {
  text-align: justify;
}

.calc, .description {
  display: inline-block;
  float: left;
  width: 50%;
}

.calc p {
 margin: 5px;

}

input {
  padding: 3px 0 3px 15px;
  border: 2px solid black;
  margin-right: 5px
}

#out {
  width: 120px;
  height: 20px;
  margin: 15px 0 0 125px;
  font-weight: bold;
}

.img_item {
  max-width: 245px;
  max-height: 240px;
}


span  {
  display: inline-block;
  padding-right: 10px;
  text-align: right;
  width: 110px;
}

footer{
  width: 100%;
  height: 251px;
  background-color: #ff454c;
}

.contacts-footer, .map {
  display: inline-block;
  margin: 20px;
}

.map {
  float: left;
  width: 360px;
  height: 209px;
  background-color: #00e64d
}

.contacts-footer {
  float: right;
}

.contacts-footer p {
  background-color: #ff454c;
  color: #fff;
  text-align: right;
}
